<div class="panel-group acc-panel-grp" id="accordion" role="tablist" aria-multiselectable="true">

  <%= render 'algos/accord_run_benchmark' %>
  <%= render 'algos/accord_run_sudoku' %>

  <%= render 'algos/accord_run_word_ranker' %>
  <%= render 'algos/accord_run_roman_numerals' %>
  <%= render 'algos/accord_run_word_search' %>

  <%= render 'algos/accord_run_anagrams' %>
  <%= render 'algos/accord_run_palindrome' %>
  <%= render 'algos/accord_run_pig_latin' %>
  <%= render 'algos/accord_run_ssn_tool' %>

</div>
