
<p id="notice"><%= notice %></p>


<div class="panel section-panel">
  <div class="row">
    <div class="col-md-10">
      <h5><%= icon('fas', 'external-link-alt', 'Websites') %> </h5>
    </div>

    <div class="col-md-2">
      <button class="btn btn-danger btn-tip" onclick="algosHeaderTipModal()"><%= icon('fas', 'exclamation-circle', 'Websites Tip') %></button>
    </div>

  </div>

  <div class="row header-tip-modals" id="algosHeaderTipModalWrap">
    <div class="col-md-12">
      <h6 class=""> <span class="font-weight-bold">TIP</span>: The Websites Module primarily focuses on URLs, their status, and relation to their associated data, such as their Accounts and Contacts.  URL data is listed on left and associated Accounts listed on right. Click blue 'Staff' button in left URL Section to view Scraped Contacts; if they exist. Search Websites via <span style="font-size: 10px;"><%= icon('fas', 'search') %></span>  icon in top right corner.  It's important to note that each Website URL can have multiple Accounts and each Account can have multiple Website URLs.  Using 'Follow' and 'Hide' is designed to help determine if you have already viewed that same data in another section.</h6>
    </div>
  </div>

</div>



<div class="row algo-service">

  <div class="col-md-3 text-center algo-inputs-col">
    <h5 class="section-header">Algo Input</h5>
    <%= render 'algos/form_panels', service: @service %>
  </div>

  <div class="col-md-9 algo-results-col">
    <h5 class="section-header">Algo Output</h5>
    <div class="row algo-results-row">
      <%= render 'algos/results', service: @service %>
    </div>
  </div>

</div>


<div class="row">
  <h3>trial area</h3>
  <div class="col-md-12">
    <div class="row algo-inputs-row">
        <%= render 'algos/text_form' %>
    </div>
  </div>
</div>
