
    <div class="row algo-inputs-row">
        <%= render 'algos/form_run_all_benchmarks' %>
    </div>

    <div class="row algo-inputs-row">
        <%= render 'algos/form_run_sudoku' %>
    </div>

    <div class="row algo-inputs-row">
        <%= render 'algos/form_run_anagrams' %>
    </div>

    <div class="row algo-inputs-row">
        <%= render 'algos/form_run_roman_numerals' %>
    </div>

    <div class="row algo-inputs-row">
        <%= render 'algos/form_run_word_ranker' %>
    </div>

    <div class="row algo-inputs-row">
        <%= render 'algos/form_run_pig_latin' %>
    </div>

    <div class="row algo-inputs-row">
        <%= render 'algos/form_run_palindrome' %>
    </div>

    <div class="row algo-inputs-row">
        <%= render 'algos/form_run_word_search' %>
    </div>

    <div class="row algo-inputs-row">
        <%= render 'algos/form_run_ssn_tool' %>
    </div>
