<div class="runSudoku">

  <%= form_with url: run_sudoku_algos_path do |f| %>
    <%= f.hidden_field :form_id, value: 'runSudoku' %>

    <div class="field form-group">
      <%= form.label :text %>
      <%= form.text_field :text, id: :text, class: 'runSudoku' %>
    </div>

    <div class="field form-group">
      <%= form.label :integer %>
      <%= form.number_field :integer, id: :integer, class: 'runSudoku' %>
    </div>

    <%= f.submit "Run Sudoku", class: "btn btn-primary" %>
  <% end %>

</div>
