<p id="notice"><%= notice %></p>

<h1>Algos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @algos.each do |algo| %>
      <tr>
        <td><%= link_to 'Show', algo %></td>
        <td><%= link_to 'Edit', edit_algo_path(algo) %></td>
        <td><%= link_to 'Destroy', algo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Algo', new_algo_path %>
